/* Styles go here */
.id {
  border-radius: 50%;
}

.network {
  width: 125px;
  height: 43px;
  color: #FFFFFF;
  background-color: #2c0101;
  border: 1mm ridge #000000;
}

.balance {
  width: 125px;
  height: 43px;
  color: #FFFFFF;
  background-color: #2c0101;;
  border: 1mm ridge #000000;
}

.account {
  width: 150px;
  height: 43px;
  color: #c90d0d;
  background-color: #2c0101;
  border: 1mm ridge #000000;
}

.bgDark7 {
  background-color: #1D1D1D;
}

.navBorderBottom{
  border-bottom: 1mm ridge rgba(255, 255, 255, 0.8)
}

.loading{
  height: 1440px;
  background-color: #1D1D1D;
}

p {
  margin: 5px
}